
body {
background-image: url("logo4.gif");
background-repeat: no-repeat;
background-size: cover;
}
.navbar-light .navbar-brand {
  color: rgb(239, 7, 7);
}



.menu-image{
  width:  100%;
}



.slide.current img{
  width: 100%;
  
}
.container {
  margin-top: 67px;
}

